<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <title>{% block title %}IPython Notebook{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{static_url("base/images/favicon.ico") }}">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{static_url("components/jquery-ui/themes/smoothness/jquery-ui.min.css") }}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ static_url("style/style.min.css") }}" type="text/css"/>
    {% endblock %}
    <link rel="stylesheet" href="{{ static_url("custom/custom.css") }}" type="text/css" />
    <script src="{{static_url("components/requirejs/require.js") }}" type="text/javascript" charset="utf-8"></script>
    <script>
      require.config({
          baseUrl: '{{static_url("", include_version=False)}}',
          paths: {
            nbextensions : '{{ base_url }}nbextensions',
            underscore : 'components/underscore/underscore-min',
            backbone : 'components/backbone/backbone-min',
            jquery: 'components/jquery/jquery.min',
            bootstrap: 'components/bootstrap/js/bootstrap.min',
            bootstraptour: 'components/bootstrap-tour/build/js/bootstrap-tour.min',
            jqueryui: 'components/jquery-ui/ui/minified/jquery-ui.min',
            highlight: 'components/highlight.js/build/highlight.pack',
            moment: "components/moment/moment",
            codemirror: 'components/codemirror',
            termjs: "components/term.js/src/term",
            contents: '{{ contents_js_source }}',
          },
          shim: {
            underscore: {
              exports: '_'
            },
            backbone: {
              deps: ["underscore", "jquery"],
              exports: "Backbone"
            },
            bootstrap: {
              deps: ["jquery"],
              exports: "bootstrap"
            },
            bootstraptour: {
              deps: ["bootstrap"],
              exports: "Tour"
            },
            jqueryui: {
              deps: ["jquery"],
              exports: "$"
            },
            highlight: {
              exports: "hljs"
            },
          }
      });
    </script>

    {% block meta %}
    {% endblock %}

</head>

<body {% block params %}{% endblock %}>

<noscript>
    <div id='noscript'>
      IPython Notebook requires JavaScript.<br>
      Please enable it to proceed.
  </div>
</noscript>

<div class="navbar navbar-kbase">
      <a class="pull-left" href="http://www.kbase.us">
        <img id="logo" width="46" src="{{ static_url("kbase_logo.png") }}">
      </a>
      <div class="nav-inner">
        <ul class="nav">
          <li class="active">
            <a href="#">Narratives</a>
          </li>
          <li>
            <a href="#">Workspaces</a>
          </li>
          <li>
            <a href="#">Search Data</a>
          </li>
          <li>
            <a href="#">Upload</a>
          </li>
        </ul>

        <ul class="nav pull-right">
          <li class="dropdown help-dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Help
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a target="_new" href="http://kbase.us/for-users/narrative-quick-start/">Narrative Quick Start Guide</a>
              </li>
              <li>
                <a href="mailto:help@kbase.us">Email help@kbase.us</a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
<div id="site">
{% block site %}
{% endblock %}
</div>

{% block script %}
{% endblock %}

</body>

</html>
